<p id="notice"><%= notice %></p>

<h1><%= t "skill.list" %></h1>

<button >
<%= link_to t("skill.new"), new_admin_skill_path,
                          class: "glyphicon glyphicon-plus" %>
</button>
<%= will_paginate %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date time</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
      <%= render @skills %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
