<h1><%= t "skill.list" %></h1>

<%= link_to t("skill.new"), new_admin_skill_path,
                            class: "glyphicon glyphicon-plus" %>
<%= will_paginate %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t :name %></th>
        <th><%= t :time %></th>
        <th><%= t :tool %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @skills %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
<%= link_to t("csv.export"), admin_skills_path(format: "csv"), class: "btn btn-success" %>
