<div class="col-md-8" id="add-users-content">
<h3><%= t "team.add_users" %></h3>
<div class="col-md-6 col-md-offset-3">
  <%= form_for [:admin, @team] do |builder| %>
    <table class="table">
      <tbody>
        <%= render "shared/users_in_team_form", f: builder %>
        <%= render "shared/team_add_users_form", f: builder %>
      </tbody>
    </table>
    <%= builder.submit t("submit"), class: "btn btn-primary",
                                    id: "add-users-btn"%>
  <% end %>
</div>
