<div class="row">
  <div class="col-md-4" id="project-detail">
    <h3><%= @project.name %></h3>
    <p><%= t "project.created_at" %> <%= @project.created_at %></p>
    <p><%= t "project.abbreviation" %> <%= @project.abbreviation %></p>
    <p><%= t "project.start_date" %> <%= @project.start_date %></p>
    <p><%= t "project.end_date" %> <%= @project.end_date %></p>
    <p><%= t "project.leader_member" %>
      <% if !@leader.nil? %>
        <%= link_to @leader.name, admin_user_path(@leader) %></br>
        <%= render "shared/choose_leader_modal" %>
      <% elsif @team.users.any? %>
        <%= render "shared/choose_leader_modal" %>
      <% else %>
        <% t "add_users_first" %>
      <% end %>
    </p>
    <p><%= link_to t(:edit), edit_admin_project_path(@project) %></p>
    <h4><%= t "project.users" %></h4>
    <ul class="jumbotron">
      <div id="project_users">
        <%= render "shared/users_in_project" %>
      </div>
    </ul>
    <%= link_to t(:back), :back %>
  </div>
  <%= render "shared/project_add_users" %>
</div>
