<h1><%= t "user.list" %></h1>

<button>
  <%= link_to t("user.new"), new_admin_user_path, class: "glyphicon glyphicon-plus" %>
</button>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t "user.name" %></th>
        <th><%= t "user.email" %></th>
        <th><%= t "team.team" %></th>
        <th><%= t "action" %></th>
      </tr>
    </thead>
    <tbody>
    <%= will_paginate @users%>
      <%= render partial: "user", collection: @users %>
    <%= will_paginate @users%>
    </tbody>
  </table>
</div>
<%= link_to t("csv.export"), admin_users_path(format: "csv"), class: "btn btn-success" %>
