<h1><%= t "team.list" %></h1>

<%= link_to t("team.new"), new_admin_team_path,
  class: "glyphicon glyphicon-plus" %>
<%= will_paginate %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t :name %></th>
        <th><%= t :time %></th>
        <th><%= t :tool %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @teams %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
<%= link_to t("csv.export"),  admin_teams_path(format: "csv"), class: "btn btn-success" %>
