<div class="row">
  <div class="col-md-4" id="team-detail">
    <h3><%= @team.name %></h3>
    <p><%= t "team.created_at" %> <%= @team.created_at %></p>
    <p><%= t "team.description" %> <%= @team.description %></p>
    <p><%= t "team.leader_member" %>
      <% if !@leader.nil? %>
        <%= link_to @leader.name, admin_user_path(@leader) %>
      <% elsif @team.users.any? %>
        <%= link_to t("team.add_leader"), edit_admin_team_path(@team) %>
      <% else %>
        Add members first!
      <% end %>
    </p>
    <p><%= link_to t(:edit), edit_admin_team_path(@team) %></p>
    <h4><%= t "team.users" %></h4>
    <ul class="jumbotron">
      <div id="team_users">
        <%= render "shared/users_in_team" %>
      </div>
    </ul>
    <%= link_to t(:back), :back %>
  </div>
  <%= render "shared/add_users" %>
</div>
